{
  "port": PORT,
  "db": {
    "url": URL,
    "port": PORT,
    "user": DBUSER,
    "pass": DBPASS,
    "database": DATABASENAME
  },
  "auth": {
    "refresh_token": {
      "secret": SECRET,
      "expiration": "6 days"
    },
    "access_token": {
      "secret": SECRET,
      "expiration":"5m"
    }
  }
}
